.App {
  margin: 0 auto;
  height: 100vh;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(10,100px);
  grid-gap: 5px;
}

.header-container {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px solid black;
}

.user-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
  /* border: 3px solid black; */
}

.main-container {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: 10;
  /* border: 3px solid black; */
}