.login-container {
    border: 3px solid black;
}
.toggle-container {
    display: flex; 
    text-align: center;
}
.login-button {
    margin: 2px;
    font-size: 20px;
    width: 50%;
    color: White;
    font-weight: bolder;
}

.login-button:first-child {
    line-height: 40px;
    background: #3b5998;
}
.login-button:first-child:hover {
    background: darkblue;
    cursor: pointer; 
}

.login-button:last-child {
    background: rgba(255, 0, 0, 0.774);
}
.login-button:last-child:hover {
    background: darkred;
    cursor: pointer;
}


