.login-container {
    border: 3px solid black;
}
.toggle-container {
    display: flex; 
    text-align: center;
}
.login-button {
    margin: 2px;
    font-size: 20px;
    width: 50%;
    color: White;
    font-weight: bolder;
}

.login-button:first-child {
    background: blue;
}

.login-button:last-child {
    background: red;
}