.thread-container {
    border: 3px solid black;
    margin-bottom: 5px;
}

.thread-title{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.thread-body {
    margin-left: 5px;
    margin-bottom: 5px;
}

p {
    white-space: pre-line 
}

.thread-footer {
    margin-left: 5px;
    margin-bottom: 5px;
}

Link {
    text-decoration: none;
}

